* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.img-group {
  display: flex;
  height: 100vh;
}

.img-holder {
  display: flex;
  width: 100%;
}

.img-group:nth-child(2n) .img-holder:not(:nth-child(2n)) {
  background: #eee;
}

.img-group:not(:nth-child(2n)) .img-holder:nth-child(2n) {
  background: #eee;
}


img {
  align-self: center;
  width: inherit;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
  }

  .img-holder {
    width: 100vw;
  }
}
